---
import Trip from "../../components/TripView";
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;
---

<Layout title="Ruta ">
  <div class="flex items-center justify-center h-full">
    <Trip id={id} client:load />
  </div>
</Layout>
