---
import Layout from "../../layouts/Layout.astro";
import FormCreateTrip from "../../components/FormCreateTrip";
---

<Layout title="Nueva ruta">
  <div class="flex items-center justify-center h-full">
    <FormCreateTrip client:load />
  </div>
</Layout>
