---
import Layout from "../../layouts/Layout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GMTrips</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Layout>
      <div>
        <p></p>
        <select class="select select-bordered select-lg w-full">
          <option disabled selected>Destino</option>
          <option>Mexicali</option>
          <option>Rosarito</option>
          <option>Tecate</option>
          <option>Tijuana</option>
          <option>Ensenada</option>
        </select>
      </div>
    </Layout>
  </body>
</html>
