---
import Card from "../components/Card.tsx";
import Hello from "../components/Hello";
import Layout from "../layouts/Layout.astro";
import type { Trip } from "../models/Trip";

const data: Trip = {
  fromCity: "Mexicali",
  toCity: "Tijuana",
  routes: [],
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GMTrips</title>
  </head>
  <body>
    <Layout>
      <Hello client:load />
      <Card trip={data} />
    </Layout>
  </body>
</html>
