---
import IsAuthenticated from "../components/auth/IsAuthenticated";
import Layout from "../layouts/Layout.astro";
import MyTrips from "../layouts/MyTrips.jsx";
---

<Layout>
  <div class="mt-2">
    <IsAuthenticated client:load>
      <MyTrips client:load />
    </IsAuthenticated>
  </div>
</Layout>
