---
import Card from "../components/Card.tsx";
import Layout from "../layouts/Layout.astro";
import type { Trip } from "../models/Trip";

const data: Trip = {
  fromCity: "Mexicali",
  toCity: "Tijuana",
  fromCityDate: "",
  toCityDate: "",
  routes: [
    {
      name: "string",
      state: "string",
      road: "string",
      length: 0,
      time: "string",
    },
  ],
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GMTrips</title>
  </head>
  <body>
    <Layout>
      <Card trip={data} />
    </Layout>
  </body>
</html>
