---
import LoginForm from "../components/LoginForm.tsx";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GMTrip</title>
  </head>
  <body>
    <LoginForm client:idle />
  </body>
</html>
