---
import TextButton from "../components/TextButton";
import Layout from "../layouts/Layout.astro";
import MyTrips from "../layouts/MyTrips.jsx";
---

<Layout>
  <div class="mt-2">
    <MyTrips client:load />
  </div>
</Layout>
