---
import DrawerButton from "../components/DrawerButton";
import FilledButton from "../components/FilledButton";
---

<div class="rounded shadow-sm items-center w-96 py-8 px-8">
  <h1 class="text-3xl font-bold text-center">GMTrips</h1>
  <div class="mt-8"></div>
  <div class="grid grid-cols-1 space-y-2">
    <DrawerButton title="Inicio" url="/" />
    <DrawerButton title="Rutas" url="/routes" />
    <DrawerButton title="Tarifas" url="/" />
    <DrawerButton title="Estaciones" url="/" />
    <FilledButton
      title="Generar ruta"
      url="/routes/create/"
      onTap={() => {}}
      client:idle
    />
  </div>
</div>
