---
import Drawer from "./Drawer.astro";

interface Props {
  title?: string;
}

const { title = "GMTrips" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="flex h-screen">
      <Drawer />
      <div class="bg-gray-100 py-8 px-8 w-full overflow-auto">
        <slot />
      </div>
    </div>
  </body>
</html>
